.DS_Store
better-vim/
nvim2.bak/
simple-update-notifier/
iterm2/
gh/
yarn/
raycast/
jgit/
grammarly-languageserver/
neofetch/
zellij/
textualize/
gatsby/
codesandbox/
configstore/
devbox/
direnv/
flutter/
github-copilot/




